@charset "UTF-8";
body {
  font-family: "Roboto-Regular";
  font-weight: 600; }

.mob {
  display: none; }

a,
button {
  cursor: pointer;
  transition: 0.7s; }

button,
button:active,
button:focus {
  outline: none; }

a:hover,
button:hover {
  transition: 0.7s; }

button:hover {
  opacity: 0.8; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #17a952;
  width: 100%;
  padding: 15px 40px; }
  header nav ul {
    display: flex; }
    header nav ul li {
      padding: 0 50px; }
      header nav ul li a {
        cursor: pointer;
        font-size: 24px;
        line-height: 28px; }
      header nav ul li:first-child {
        padding: 0 50px 0 0; }
  header .contact a {
    display: flex;
    align-items: center;
    letter-spacing: 2px; }
    header .contact a img {
      padding-right: 21px; }
  header a {
    color: white; }

.banner {
  color: white;
  background: url("/img/banner1.png") no-repeat;
  -moz-background-size: 100%;
  /* Firefox 3.6+ */
  -webkit-background-size: 100%;
  /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;
  /* Opera 9.6+ */
  background-size: 100%;
  /* Современные браузеры */ }
  .banner .banner__offer {
    text-align: center;
    padding: 100px 0 180px; }
    .banner .banner__offer h1 {
      font-size: 54px;
      line-height: 63px;
      text-shadow: 1px 1px 2px #000; }
    .banner .banner__offer button {
      border: none;
      cursor: pointer;
      background-color: #17a952;
      border-radius: 100px;
      color: inherit;
      font-size: 26px;
      line-height: 30px;
      margin: 30px 0 8px;
      padding: 13px 100px; }

main {
  padding: 100px 150px; }
  main .services {
    text-align: center; }
    main .services h2 {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 42px; }
    main .services .services__block {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      main .services .services__block .services__item {
        border-radius: 10px;
        width: 28%;
        margin: 25px;
        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.18); }
        main .services .services__block .services__item h4 {
          margin-top: 35px;
          color: #17a952;
          font-size: 30px;
          line-height: 35px; }
        main .services .services__block .services__item img {
          margin: 0 auto; }
        main .services .services__block .services__item button {
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
          border: none;
          border-radius: 100px;
          padding: 14px 24px;
          margin-bottom: 35px;
          color: white;
          background-color: #17a952; }
  main .questions {
    margin-top: 98px;
    text-align: center; }
    main .questions h3 {
      font-size: 26px;
      line-height: 30px; }
      main .questions h3 img {
        transform: rotate(0deg);
        transition: transform 1s ease; }
      main .questions h3 .rotate {
        transform: rotate(60deg); }
    main .questions .accordion__container {
      width: 100%;
      height: auto;
      margin: 0 auto;
      margin-top: 3%;
      /* summary ~ * {
            padding:0 1em 0 1em;
            } */ }
      main .questions .accordion__container summary::-webkit-details-marker {
        display: none; }
      main .questions .accordion__container summary::-moz-list-bullet {
        list-style-type: none; }
      main .questions .accordion__container summary::marker {
        display: none; }
      main .questions .accordion__container summary {
        padding: 10px 35px;
        display: inline-block;
        font-size: 26px;
        cursor: pointer;
        position: relative; }
      main .questions .accordion__container summary::after {
        left: 95%;
        top: .5em;
        color: transparent;
        background: url("/img/Vector1.png") no-repeat 50% 50%/1em 1em;
        width: 1em;
        height: 1em;
        content: "";
        position: absolute;
        transition: transform .5s; }
      main .questions .accordion__container details[open] > summary::after {
        transform: rotate(180deg); }
      main .questions .accordion__container details[open] summary ~ * {
        animation: sweep .5s ease-in-out; }

@keyframes sweep {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
      main .questions .accordion__container summary:focus {
        outline: 0;
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.3); }
      main .questions .accordion__container details {
        display: flex;
        text-align: left;
        background: #C4C4C4;
        margin-bottom: .5rem;
        border-radius: 10px; }
        main .questions .accordion__container details p {
          font-size: 26px;
          line-height: 30px;
          background-color: white; }

footer {
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee; }
  footer div a {
    display: flex;
    align-items: center;
    font-size: 24px; }
    footer div a img {
      height: 18px;
      padding-right: 24px; }
